---
const today = new Date();
---

<footer class="text-zinc-500 p-4 text-center">
&copy; {today.getFullYear()} <a href="https://github.com/Bobstyle23">Mukhammad Bobur Pakhriev.</a> All rights reserved.
</footer>
